@import url("style.css");

/* All skills */
#i-am > div,
#my-hobbies > div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

/* Individual item */
#i-am > div > div, #my-hobbies > div > div {
    flex: 0 0 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin: 1rem;
}

#my-hobbies > div > div {
    background-color: var(--light-grey);
    height: 20rem;
    border-radius: 40px;
    
    padding-top: 4rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#my-hobbies img {
    width: 5rem;
    border-radius: 50%;
}